@import "./partial";
@import "./variable.scss";

// .nav-links {
//   margin-left: auto !important;

//   .links {
//     text-decoration: none;
//     color: gray;
//     font-size: 20px;
//     font-family: "Times New Roman", Times, serif;
//     text-transform: capitalize;
//     &:hover {
//       color: green;
//     }
//   }
// }

// /* main section css start  */
// .main {
//   min-height: 100vh;
//   background-color: $bg;

// }

// h1 {
//   @include commonCode(0.2rem, capitalize, green);
// }
// h2 {
//   @include commonCode(0.3rem, uppercase, blue);
// }

// .responsiveCard {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   margin-top: 10px;
//   flex-wrap: wrap;
// }

// /* main section css end  */

// .counter-app {
//   @include flexprop;
//   margin-top: 20px;
// }

// .counter-app button {
//   margin-left: 10px;
// }
// .counter-app span {
//   margin-left: 10px;
//   font-size: 20px;
//   font-weight: bold;
// }

// form {
//   @include flexprop;
//   flex-direction: column;
// }

// .render_inputs {
//   margin-left: 20px;

// }

// ul {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 10px !important;
//   li {
//     list-style: none;
//     margin-left: 20px;
//   }
// }

// select {
//   margin-left: 500px !important;
// }

// .timepicker{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin-top: 20px;
// }

// /* footer css start  */

// .footer {
//   display: flex;
//   justify-content: center;
//   background-color: thistle;
//   position: absolute;
//    bottom: 0;
//   width: 100%;
// }
// /* footer css end  */


.btn{
    margin-left: 20px;
}


.time{
    margin-left: 20px;
}

.outPut{
      display: flex;
      justify-content: center;
      margin-top: 30px;
      font-size: 20px;
      text-transform: uppercase;

}

input{
    margin-left: 20px !important;
    width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.userNum{
      @include flexprop2;
       margin-top: 20px;
}

.userOutPut{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  

}

.userOutPut ul li {
      list-style: none;
      font-weight: 500;
      font-size: 20px;
}



